@font-face
{
    font-family: 'GeorgeCafe';
    src: url(fonts/LouisGeorgeCafe.ttf);
}

body 
{
    margin: auto;
    text-align: center;
    font-family: 'GeorgeCafe';
    font-weight:normal;
	font-style:normal;
}

img
{
    max-width: 60%;
	height: auto;
}

#config ul
{
	list-style: none;
}

#navbar ul 
{ 
	margin: 0;
	
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #000; 
} 
 
#navbar ul li 
{  
	display: inline;
} 
 
#navbar ul li a 
{ 
	text-decoration: none;
	font-size: medium;
	padding: .2em 1em; 
	color: #fff; 
	background-color: #000; 
} 
 
#navbar ul li a:hover 
{ 
	color: #000; 
	background-color: #fff; 
}